__pycache__/
*.pyc
/myenv
src/etl_service/config.ini
src/etl_service/.env
example_output/database/consulting_firm.db
example_output/spreadsheets/indirect_costs.xlsx
example_output/spreadsheets/non_billable_time.xlsx
CUsersputtiDocumentsProjectsConsultFirmDBMockupexample_outputdatabaseconsulting_firm.db
example_outputdatabaseconsulting_firm.db
