# Data Generation
faker
random_address

# Database
SQLAlchemy

# Randomizer
scipy

# Unidecode
Unidecode

# Testing
pytest
pytest-cov

# Linting
flake8
pylint

# Documentation
sphinx
sphinx-rtd-theme

# Miscellaneous
python-dotenv
openpyxl

# ETL
snowflake-connector-python
snowflake-connector-python[pandas]
pandas

# Environment
python-dotenv

